* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#site {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
  text-align: center;
}

#site footer {
  font-size: 0.8em;
}

.popupTitle {
  font-weight: bold;
  font-size: 1rem;
}

#autolocate {
  font-size: 1.8em;
  cursor: pointer;
}
